<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
  <title>Convertidor</title>
</head>

<body class="">
  <div id="app" >
    <div>
      <nav class="navbar navbar-expand-lg bg-light fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">
            <img src="images/logo.png" alt="logo" width="50px">
            <span class="fw-bold h4">Usuarios</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4 d-flex-lg justify-content-lg-center align-items-lg-center ">
              <li class="nav-item ms-2 ms-lg-0">
                <a class="nav-link text-white" href="#">
                  <span class="fw-bold">Inicio</span>
                </a>
              </li>
              <li class="nav-item" v-for="i in arrayLogin">
                <a class="nav-link text-white" href="#">
                  <img :src="i.picture.medium" alt="" width="50px" class="rounded-5 me-2">
                  <span class="fw-bold " v-text="i.name.first"></span>
                  <span class="fw-bold" v-text="i.name.last"></span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link fw-bold text-white"><span class="btn text-white fw-bold" @click="logout">
                    Cerrar sesión
                    <i class="bi bi-box-arrow-in-right fw-bold"></i>
                  </span>
      
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Button trigger modal -->
      <div class="p-5 mt-5 " tabindex="0">
        <section class="container p-3">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newUser">Agregar Usuario</button>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="">Cambio moneda</button>

        </section>
        <section class="container">
          <table class="table">
            <thead>
              <tr class="bg-dark text-white">
                <th scope="col">Img</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Edad</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in arrayUser">
                <th class="text-center"><img :src="i.picture.medium" alt="" class=""></th>
                <td class="fw-bold w-25"><span v-text="i.name.first"></span> <span v-text="i.name.last"></span></td>
                <td class="fw-bold w-25"><span v-text="i.email"></span></td>
                <td class="fw-bold"><span v-text="i.dob.age"></span></td>
                <td class="fw-bold"><span v-text="i.location.country"></span></td>
                <td>
                  <button class="btn btn-primary">Editar</button>
                  <button class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <!-- Modales -->
      <section>
        <!-- Agg Usuario -->
        <section>
          <!-- Modal -->
          <div class="modal fade" id="newUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Nuevo Usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" v-model="date.email">
                      
                    </div>
                    <div class="row">
                      <div class="mb-3 col-sm-6">
                        <label for="exampleFormControlInput2" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Brayan" v-model="date.name.first"> 
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label for="exampleFormControlInput3" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Marin" v-model="date.name.last">
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput4" class="form-label">Genero</label>
                      <select class="form-control" v-model="date.gender" @click="imgg">
                        <option selected value="">Seleccione genero</option>
                        <option v-for="(item,key) in gender" v-text="item" :value="key" ></option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-sm-6">
                        <label for="exampleFormControlInput5" class="form-label">Celular</label>
                        <input type="number" class="form-control" id="exampleFormControlInput5" placeholder="3105864888" v-model="date.cell">
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label for="exampleFormControlInput6" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="exampleFormControlInput6" placeholder="19" v-model="date.dob.age">
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-sm-6">
                        <label for="exampleFormControlInput7" class="form-label">País de origen</label>
                        <input type="text" class="form-control" id="exampleFormControlInput7" placeholder="Colombia" v-model="date.location.country">
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label for="exampleFormControlInput8" class="form-label">Ciudad de residencia</label>
                        <input type="text" class="form-control" id="exampleFormControlInput8" placeholder="Confines" v-model="date.location.city">
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3">
                        <label for="exampleFormControlInput9" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="exampleFormControlInput9" placeholder="balmon" v-model="date.login.username">
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label for="exampleFormControlInput10" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleFormControlInput10" v-model="date.login.password">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" @click="saveForm">Guardar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Convertidor -->

          <!-- /Convertidor -->
        </section>


        <!-- /Agg Usuario -->
      </section>
    </div>
    
    
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.0-alpha.4/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="main.js"></script>

</html>